.App {
  text-align: center;
}

body {
  background-color: hsl(192, 66%, 84%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Profile textarea default size */
.default-size {
  height: 300px;
  border: none;
  outline: none;
  resize: none;
  overflow: visible;
  text-align: center;
}

/* Button display */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Split chatview */
.split {
  display: flex;
}

/* Text fonts */
.brand-logo {
  font-family: Arial, Helvetica, sans-serif;
}

.subheader {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

/* Placeholder colours */
textarea::placeholder {
  color: rgb(79, 81, 82)
}

.noMatches {
  justify-content: center;
}


/* Chat containers, these are from https://www.w3schools.com/howto/howto_css_chat.asp */
.chat-container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
}

.container-msg {
  border-radius: 5px;
  padding: 10px;
  width: 70%;
  height: 10px;
  margin: auto;
  
}

/* Scrollable chat */
.scroll {
  overflow: auto;
  max-height: 500px;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.chat-container::after {
  content: "";
  clear: both;
  display: table;
}


/* Messages, users, and time stamps to correct sides */

.time-right {
  float: right;
  clear: both;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
  clear: both;
}

.p-left {
  float:left
}

.p-right {
  float: right;
}


.title-left {
  float: left;
  margin-right: 20px;
  margin-left:0;
  font-weight: bold;
}

.title-right {
  float: right;
  margin-left: 20px;
  margin-right:0;
  font-weight: bold;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
